@import 'theme';

.main-container .node-column-bootstrap- {

	.bootstrap-column-wrapper {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	
	p {
		text-align: justify;
	}
	
	h2 {
		text-align: center;
	}

}

.main-container .section-content.node-carousel-bootstrap- {
	
	&, article {
		padding-left: 0px;
		padding-right: 0px;
	}
	.carousel {
		height: 80vh;
	}
	
	.carousel-caption {
		@extend .well-box2;
		background-color: rgba($brand-primary, 0.9);
	
		top: 16.67%;
		right: 10%;
		bottom: auto;		
		left: auto;
		max-height: 60vh;
		width: 25vw;
		overflow: hidden;
		padding-bottom: 40px;
			
		h2 {
			color: #ffffff;
			text-shadow: none;
		}
		
		p {
			padding-top: 10px;
			font-size: 1.2em;
			text-align: justify;
		}
	}
	
	.carousel-control.left, .carousel-control.right {
		background-image: none;
		filter: none;
		width: 10%;
	}
	
	.carousel-control {
		.glyphicon-chevron-left, .glyphicon-chevron-right {
			height: auto;
			width: auto;
			padding: 10px;
			background-color: $brand-primary;
			border-radius: 60px;
		}
	}
	
	.carousel-indicators {
		left: 0;
		bottom: 0px;
		height: 24px;
		width: 100%;
		margin: 0;
		padding-top: 4px;
		
		li {
			background-color: $brand-primary;
			border-color: $brand-primary;
			
			&, &.active {
				margin: 0;
				height: 3px;
				width: 60px;
			}
		}
		
		.active {
			background-color: #ffffff;
		}
	}
	
	.carousel-inner, .carousel-inner > .item {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	
	.carousel-inner > .item > img {
		object-fit: cover;
		min-height: 100%;
		min-width: 100%;
	}
}

.main-container .webform-confirmation {
	p {
		text-align: center; 
	}	
	
}

@media screen and (max-width: 768px) {
	.main-container .section-content, .footer .section-content {
		min-width: 300px;
	}
		
	.main-container .section-content {
		.node-column-bootstrap- {
			padding: 0 0 60px 0;
			.bootstrap-column-wrapper {
				max-width: 450px;
			}
		}
		
		&.node-carousel-bootstrap- {
			.carousel, .carousel-inner, .carousel-inner>.item {
				height: 480px;
			}
			
			.carousel-caption {
				top: 5%;
				right: 0;
				bottom: auto;
				left: 0;
				margin: 0 auto;
				height: 120px;
				width: 150px;
				p {
					display: none;
				}
			}
		}
	}
}