/* @import '../bootstrap/assets/stylesheets/bootstrap'; */
@import 'bootstrap';

$navbarHeight: 40px;
$toolbarHeight: $navbarHeight + 30px;

/*****************
*
*	BODY & CONTAINERS
*
*****************/

body {
	.main-container {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	&.page, &.page-frontpage {
		.main-container {
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}
	
	&.navbar-is-fixed-top {
		margin-top: -24px;
	}
}

.container-fluid {
	.section-content {
		padding-left: 6%;
		padding-right: 6%;
	}
}

.main-container {
	.section-content {
		min-height: 380px;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	
	img {
		margin: auto;
	}
}


/*****************
*
*	NAVBAR
*
*****************/

.navbar-default {
	a {
		color: $gray !important;
		&:hover, &:focus {
			color: $brand-primary !important;
		}
	}
}

/*****************
*
*	FOOTER
*
*****************/
.footer {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	color: #ffffff;
	
	.section-content {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

/*****************
*
*	POP-UPs
*
*****************/
.modal-header {
	border-bottom: 0 !important;
}

/*****************
*
*	MISCELLANEOUS
*
*****************/
.vcenter {
	height: 100%;
	vertical-align: middle;
}

.btn.btn-cta {
	display: block !important;
	margin-top: 10%;
	white-space: normal;
}

/*****************
*
*	Mixins
*
*****************/

@media screen and (max-width: 768px) {
	h1 {
		font-size: 1.4em !important;
	}
	h2 {
		font-size: 1.2em !important;
	}
	.well-box {
		padding: 20px;
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 20px;
	}
}

.well-box2 {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 20px;
}